.section1{
    background-color: #529DF1;
        background-image: url(../images/premium_dancer.png) none;
        background-repeat: no-repeat; /*no debe verse*/
    display: flex;
    flex-direction: column;
    @media all and (min-width:768px){
        background-image: url(../images/premium_dancer.png);
    }
    /*height: 40%; a secciones no poner height y width*/
}

.prueba-premium {
    font-size: 295%;
    color: $colortext;
    padding-top: 20%;
    padding-left: 3%;
}

.intro-premium{
    font-size: 150%;
    color: $colortext;
    padding-left: 3%;
    line-height: 1.5;
    margin-top: 3%;
    margin-bottom: 3%;
}

.button {
    background-color: #3DB758;
    border: none;
    color: $colortext;
    border-radius: 40px;
    width: 40%;
    height: 30px; /*fjo, px o rem/em; las imágenes y los iconos también*/
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
}

.terminos{
    font-size: 100%;
    color: $colortext;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 3%;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-2{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5rem;
}


.b1, .b2, .b3, .b4{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.cajitas{
    display:  flex;
    flex-direction: row-reverse;
}
.figure{
    width: 30%;
}